@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow: hidden;
}

.header {
  background-color: $dark;
}

.title {
  width: fit-content;
  padding: 11.2px 15.3px;
  height: 44px;
  border-right: 1px solid $grayBorder;
  font-size: 18px;
  font-weight: 400;

}

.table {
  flex-grow: 1;
  padding: 0 10px;
  background-color: $black;
  overflow: auto;
}

.tableHeader {
  @include tableRow;
  min-height: 41px;
  color: $gray;
}

.loading{
  padding: 20px;
  text-align: center;
}