@use './colors' as *;

@mixin tableRow {
  display: grid;
  grid-template-columns: max(110px, calc(78px + var(--maxLevel)*20px)) minmax(200px, 1fr) repeat(4, 200px);
  min-width: fit-content;
  border-bottom: 1px solid transparent;
  transition: grid-template-columns .3s ease-in-out;

  &:not(:last-child) {
    border-bottom: 1px solid $grayBorder;
  }

  &>* {
    display: flex;
    align-items: center;
    padding: 5px 12px;
  }
}