@use '../../styles/colors' as *;

.wrapper{
  display: grid;
  grid-template: 'header header' auto 'sidebar workspace' 1fr / auto 1fr;
  gap: 1px;
  width: 100vw;
  height: 100vh;
  background-color: $grayBorder;
}