@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.wrapper {
  @include tableRow;
  min-height: 60px;
}

.buttonsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: calc(var(--level) * 20px);
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  button {
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    background-color: $grayBorder;
    
    button {
      opacity: 1;
    }
  }

  .createBtn {
    opacity: 1;
  }
}

.hasChildren{
  &::after{
    content: '';
    position: absolute;
    top: calc(50% + 8px);
    left: 14px;
    width: 1px;
    height: 52px;
    height: calc(var(--descendantsTillLastChild) * 60px - 7px);
    background-color: $grayGraph;
  }
}

.hasParent{
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -6px;
    width: 12px;
    height: 1px;
    background-color: $grayGraph;
  }
}

